<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <style>
        body {
            font-family: "Roboto";
            display: flex;
            justify-content: center;
            align-items: center;                        
            flex-direction: column;            
        }
        article {
            max-width: 700px;
        }
    </style>
    <title>RxLoader</title>
</head>
<body>
    <article>
        {{.Content}}
    </article>
</body>
</html>